#SpriteImagenesCasa{
    width: 100%;
    display: block;
    margin: 1em auto;
}
.jcarousel-wrapper{
    position: relative;

}
#reserva{
    width: 7em;
    background: rgba(47,156,37,0.7);
    position: absolute;
    right: 30%;
    top:15%;
    z-index: 2;
    font-size: larger;
    text-align: center;
    padding: 1em;
}
#reserva a{
    text-decoration: none;
    color: white;
}
#info{
    width: 100%;
    Background: rgba(204,171,59,0.5);
}
#info p{
    width: 100%;
    line-height: 2em;
    font-size: x-large;
    border-bottom: 1px solid rgba(204,171,59,0.7);
}
#maps{
    width:100%;
    Background: rgba(204,171,59,0.5);
}
#maps iframe{
width: 100%;
}
#imagenes{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}
#imagenes #casa{
    display: none;
    width: 50%;
    height: 30em;
}
#imagenes .imageneschicas{
    width: 100%;
    max-height: 30em;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
}
#imagenes .imageneschicas img{
    width: 50%;
}


@media screen and (min-width: 550px){
    main{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    #info{
        width: 70%;
    }
    #maps{
        width: 30%;
    }
    #SpriteImagenesCasa{
        width: 90%;
        display: block;
        margin: 1em auto;
    }
    #reserva{
        top:45%;
        right: 40%;
    }
    #imagenes{

        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        box-shadow: 0 0 10px 1em rgba(0,0,0,0.5);

    }
    #imagenes #casa{
        display: block;
        width: 50%;
        height: 30em;
    }
    #imagenes .imageneschicas{
        width: 50%;
        max-height: 30em;
        display: flex;
        flex-wrap: wrap;
        flex-direction:column;
    }
    #imagenes .imageneschicas img{
        width: 100%;
        height: 50%;
    }
}